@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth
}

body{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    
}

.gallery-section{
    /* min-height: 100vh; */
    background-color: #000;
    color: #fff;
}

.img-hidden{
    display: none;
}

.gallery-section .heading{
    text-align: center;
    margin-bottom: 1%;
    padding-top: 100px;
}
.gallery-section .heading span{
    font-size: 60px;
    font-weight: bold;
    color: #ffc400;
    border-bottom: #fff 10px solid;
}
.gallery-section .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10%;
    padding-bottom: 3%;
}
.gallery-section .container .gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.gallery-section .container .gallery img{
    width: 100%;
    transition: .5s ease;
    
}
.gallery-section .container .gallery a img:hover{
    transform: scale(1.1);
    transition: .5s ease;
}
