@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth
}

body{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

/* --------------------------------Header------------------------------------ */

header{
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#logo{
    width: 230px;
    height: 70px;
    text-decoration: none;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 600;
}

.navbar a:hover{
    color: #ffc400;
    font-size: 17px;
    transition: .3s ease;
    
}

#check{
    display: none;
}

.icons{
    color: #fff;
    right: 5%;
    position: absolute;
    font-size: 2.8rem;
    cursor: pointer;
    display: none;
}
