<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhuvi's Makeover</title>

    <!-- custom style.css -->
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/service.css">
    <link rel="stylesheet" href="../css/gallery.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../css/media_queries.css">



    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>

    <header class="header">
        <a href="#"><img src="../images/logo.png" alt="Bhuvi's Makeover" id="logo"></a>

        <input type="checkbox" id="check">
        <label for="check" class="icons">
            <i class='bx bx-menu' id="menu-icon"></i>
            <i class='bx bx-x' id="close-icon"></i>
        </label>

        <div class="navbar">
            <a href="#" style="--i:0;">Home</a>
            <a href="#about" style="--i:1;">About</a>
            <a href="#" style="--i:2;">Gallery</a>
            <a href="#" style="--i:3;">Services</a>
            <a href="#" style="--i:4;">Contact</a>
        </div>
    </header>

    <section class="home" id="home">
        <div class="title">
            <h1>BHUVI'S MAKEOVER</h1>
            <hr>
            <p class="sub-title">BEAUTY IN EVERY BRUSH</p>
        </div>
        <div class="scroll-btn">
            <a href="#about"><button type="button">Scroll Down</button></a>
        </div>
    </section>
    

    <section class="about" id="about">
        <div class="heading">
            <span>ABOUT</span>
        </div>
        <div class="container">
            <div class="about-img">
                <img src="../images/about-img.jpg" alt="about-img">
            </div>
            <div class="about-desc">
                <p>Discover Your Inner Radiance at <strong>Bhuvi's Makeover</strong> - Where Beauty Meets Confidence!
                    <br><br>
                    At Bhuvi's Makeover, we believe that true beauty lies in self-confidence and self-expression. With a wide range of services that pamper and enhance, we're your one-stop destination for all things beauty.
                    <br><br>                
                    Indulge in our luxurious treatments, from revitalizing facials to rejuvenating hair makeovers. We understand that every individual is unique, and we tailor our services to bring out your natural beauty. Let us be your beauty sanctuary, where you can relax, rejuvenate, and reveal your best self.
                    <br><br>
                    Come experience the magic of Bhuvi's Makeover and let your inner beauty shine!
                </p>
            </div>
        </div>
    </section>

    <section class="gallery" id="gallery">
        <div class="heading">
            <span>GALLERY</span>
        </div>
    </section>

</body>
</html>